.container{
    background-color:darkblue;
    
    
}
h4

{
    color: #FFFFFD;
}
p{
    color: #AFB0B1;
}
a

{
    text-decoration: none;
    color:rgb(255, 255, 253);
}
li a:hover{
    text-decoration:none;
    color:white;
    transition: 0.5s ease;
}
li {
    list-style-type:none;
}
 i
{
    background-color: yellow;
    font-size: 20px;
}